.Search {
  font-family: "Prata", serif !important;  
  background: #c6b5e3 !important;
  color: #5e54e7 !important;
  font-weight: bolder;
  text-align: left;
  box-shadow: rgba(23, 23, 146, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  margin: 20px auto;
  }